@media (max-width: 820px){
    .accordion-title{
        font-size: 0.8em;
    }
    .accordion:hover .accordion-title:after{
        font-size: 1.5em;
        right: -10%;  
}

}

/* for mobile */
@media(max-width:320px){
    .accordion-title{
        font-size: 1em;
    }
}






