body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lobster Two', cursive;
    line-height: 1.5;
    background-color: goldenrod;
}
p{
    margin: 0 0 10%;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 5%;

}
hr{
    height: 0.1px;
    color: grey;
}
h1{
    font-style: oblique;
}