body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lobster Two', cursive;
    font-style: oblique;
    line-height: 1.5;
    background-color: goldenrod;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 40%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10%;
    background-color: rgb(49, 117, 49, 0.5);
    text-align:center;
}

hr{
    color: grey;
}
h1{
    font-style: oblique;
    text-align:center;
    color: green;
}
.accordion{
   max-width: 50%; 
   margin: auto;
}
.accordion:hover{
    cursor: pointer;

    transition: .5s ease-out;
}
.accordion:hover .accordion-title{
    color: black;
}
.accordion-item{
    border: 1px solid red;
}
.accordion-input{
    appearance: none;
    position:absolute;
    width:0;
    height:0;
}
.accordion-input:checked + .accordion-image{
    display:block;
}
.accordion-input:checked + .accordion-title{
    color: red;
}
.accordion-title{
    display: block;
    
    font-size:1.5em;
    color: white;
    margin-bottom: 5%;
    cursor:pointer;
}

.accordion-image{
 padding: 5%;
 display:none;
}
.accordion-item:hover .accordion-image{
   display:block;
}